* {
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;
}

/* adjusting fonts */

body {
	font-family: 'Avara Black', -apple-system, BlinkMacSystemFont, helvetica, arial, sans-serif;
	transition: background 500ms ease;
}

@font-face {
  font-family: "Avara Black";
  src: url("/Users/hansujeong/Desktop/UIDesign1/codingfromlife/assets/Avara-Black.ttf");
}

p, li {
	font-size:  22px;
	line-height: 30px;
	color: darkseagreen;
}

/* adjusting spacing */

#left-column {
	padding: 20px;
}

h1, p {
	margin-bottom:  20px;
}

ul, ol {
	margin-left: 20px;
}

img {
	max-width: 100%;
	height:  auto;
}

.cursive {
        font-family: 'Montserrat', sans-serif;
    color: darkgreen;
    font-size: 35px;
}

.desc {
	color: lightgray;
	font-style: italic;
}
/* uncomment the code below to set the grid */

/*#grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

body {
	overflow: hidden;
}

.scroll {
	padding:  20px;
	overflow: scroll;
	height: 100vh;
}

#left-column {
}

#right-column {
	background: #333;
}*/